@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}